* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #ccc;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Footer*/

header {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;

}
header h1 {
    padding-bottom: 10px ;
}
h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}
h1 span {
    color: white;
}

a{
    text-decoration: none;
}
a:link,a:visited {
    color: #f7b600;
    
}
a:hover{
    text-decoration: underline;
}

nav a:link,a:visited {
    color: white;
    padding: 8px 12px ;
    
}
nav a:hover{
    color: #f7b600;
    background: #FFF;
    text-decoration: underline;
}
.postagem a {
    color: #f7b600;
}
#links_menu a {
    color: #f7b600;
    background: #FFF;
    text-decoration: underline;
}
#anside  {

    color: #f7b600;
    text-decoration: none
}
/*Formatação em geral*/

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h2 {
    color:#f7b600 ;
}

h3 {
    color: #565656;
    background: #CCC;
    padding: 5px;
}

.data-postagem {
    font-size: 0.8em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

/*Main*/
main{

    width: 920px;
    margin: 0 auto;
    padding: 15px;
    background-color: white;

}
main div{
    width: 660px;
    
    float: left;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;

}

aside {
    width: 240px;
    padding: 10px;
    margin-bottom: 20px;
    background: #ffffff;
    float:right;
    
}

footer {

    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
    background-color: green;

}